<%- include("includes/head") %> <%- include("includes/nav") %>

<!-- Container -->
<div class="container c-g">
  <!-- Mensagem do servidor -->
  <%- include("includes/message") %>
  <!-- Verifica se o usuario esta logado -->
  <% if(user){ %>
  <div>
    <h1 class="h1-saudacao" _nome="<%= user.nome %>"></h1>
    <p class="titulo-descricao">Acompanhe abaixo as suas transações:</p>
  </div>

  <!-- Grupo de divs(Cards) -->
  <div class="cards-flex">
    <div class="card">
      <h5 class="card-titulo">Receitas</h5>
      <p class="card-valor">R$ 0,00</p>
    </div>
    <div class="card">
      <h5 class="card-titulo">Gastos</h5>
      <p class="card-valor">R$ 0,00</p>
    </div>
    <div class="card">
      <h5 class="card-titulo">Saldo Atual</h5>
      <p class="card-valor">R$ 0,00</p>
    </div>
  </div>

  <!-- Btn de filtros -->
  <div class="btn-grup-filtro">
    <button class="btn botao-principal" id="filterBtn">Buscar por mês</button>
  </div>

  <!-- Tabela de transações -->
  <% if (transacoes.length > 0) { %>
  <div>
    <table class="table-transacoes">
      <!-- Cabecario -->
      <thead>
        <tr>
          <th>Data</th>
          <th>Valor</th>
          <th>Categoria</th>
          <th>Tipo</th>
          <th class="alinhar-direita">Ações</th>
        </tr>
      </thead>
      <!-- Corpo -->
      <tbody>
        <% transacoes.forEach((transacao) => { %>
        <tr>
          <td class="data" _data="<%= transacao.data %>"></td>
          <td class="valor" _valor="<%= transacao.valor %>"></td>
          <td class="categoria" _categoria="<%= transacao.categoria %>"></td>
          <td class="tipo-tran" _tipotran="<%= transacao.tipoTransacao %>"></td>
          <td class="alinhar-direita">
            <a href="/transacao/index/<%= transacao._id %>">Editar</a>
            <a href="/transacao/delete/<%= transacao._id %>" class="text-danger">Deletar</a>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <!-- Fim da tabela -->
  <% } else { %>
  <div class="msg-sem-transacao">
    <p>Nenhuma transação cadastrada para esse mês</p>
  </div>
  <% } %>

  <!-- Tela de não logado -->
  <% } else { %>
  <section class="section-nao-logado">
    <!-- Texto informativa -->
    <div class="div-informativo">
      <h1 class="titulo-g">Junte-se a nós para simplificar seus gastos</h1>
      <p>
        Bem-vindo ao nosso mundo de controle financeiro simplificado! Aqui, você pode gerenciar suas despesas de forma
        inteligente e eficiente. Junte-se a nós hoje mesmo e comece a trilhar o caminho rumo à estabilidade financeira.
      </p>
    </div>

    <!-- Formulario de cadastro -->
    <form action="/login/register" method="POST" class="form formRegister">
      <!-- Nome -->
      <div class="form-group">
        <label for="floatingInput">Nome</label>
        <input type="text" class="form-control" placeholder="Nome" name="nome" />
      </div>
      <!-- Email -->
      <div class="form-group">
        <label for="floatingInput">Email</label>
        <input type="email" class="form-control" placeholder="name@example.com" name="email" />
      </div>
      <!-- Senha -->
      <div class="form-group">
        <label for="floatingPassword">Senha</label>
        <input type="password" class="form-control input-senha" placeholder="Senha" name="password" />
      </div>
      <!-- Mostrar senha -->
      <div class="checkbox mb-3">
        <label> <input type="checkbox" class="checkbox-mostraSenha" /> Mostrar senha </label>
      </div>

      <button class="btn botao-principal" type="submit">Cadastrar</button>
      <hr />
      <small class="texto-segundario">Se já tem sua conta criada, faça o <a href="/login">login</a></small>
    </form>
  </section>
  <% } %>
</div>

<%- include('includes/filtroModal') %> <%- include("includes/footer") %>
