<%- include("includes/head") %> <%- include("includes/nav") %>
<div class="container">
  <div class="row my-5">
    <div class="col-md-6 offset-md-3 login-form">
      <h1 class="text-center">Crei um novo lançamento</h1>
      <p class="text-center leed">Preencha os campos abaixo com os seus gastos ou pagamentos:</p>
      <%- include("includes/message") %>
      <% if(lancamento._id){ %>
        <form action="/transacao/edt/<%= lancamento._id %>" method="POST" class="p-2 p-md-3 border rounded-3 bg-body-tertiary form-despesa">
          <% } else { %>
            <form action="/transacao/register" method="POST" class="p-2 p-md-3 border rounded-3 bg-body-tertiary form-despesa">
        <% } %>
        <!-- Valor -->
        <div class="form-floating mb-3">
          <input type="number" class="form-control input-valor" name="valor" value="<%= lancamento.valor ?? '' %>" />
          <label for="floatingInput">Valor (R$)</label>
        </div>
        <!-- Data -->
        <div class="form-floating mb-3">
          <input
            value="<%= lancamento.data && lancamento.data.toISOString().split('T')[0] %>"
            type="date"
            class="form-control input-data"
            name="data"
          />
          <label for="floatingInput">Data</label>
        </div>
        <!-- Categoria -->
        <div class=" mb-3 ">
          <select class="pb-3 form-select pt-3 select-categoria" name="categoria">
            <option>Categorias</option>
            <option value="alimentacao" <%= lancamento.categoria === "alimentacao" ? 'selected' : '' %>>Alimentação</option>
            <option value="comida" <%= lancamento.categoria === "comida" ? 'selected' : '' %>>Comida</option>
            <option value="contas" <%= lancamento.categoria === "contas" ? 'selected' : '' %>>Contas</option>
            <option value="curso" <%= lancamento.categoria === "curso" ? 'selected' : '' %>>Curso</option>
            <option value="educacao" <%= lancamento.categoria === "educacao" ? 'selected' : '' %>>Educação</option>
            <option value="escola" <%= lancamento.categoria === "escola" ? 'selected' : '' %>>Escola</option>
            <option value="faculdade" <%= lancamento.categoria === "faculdade" ? 'selected' : '' %>>Faculdade</option>
            <option value="jogos" <%= lancamento.categoria === "jogos" ? 'selected' : '' %>>Jogos</option>
            <option value="lazer" <%= lancamento.categoria === "lazer" ? 'selected' : '' %>>Lazer</option>
            <option value="moradia" <%= lancamento.categoria === "moradia" ? 'selected' : '' %>>Moradia</option>
            <option value="outros" <%= lancamento.categoria === "outros" ? 'selected' : '' %>>Outros</option>
            <option value="presentes" <%= lancamento.categoria === "presentes" ? 'selected' : '' %>>Presentes</option>
            <option value="quarto" <%= lancamento.categoria === "quarto" ? 'selected' : '' %>>Quarto</option>
            <option value="saude" <%= lancamento.categoria === "saude" ? 'selected' : '' %>>Saúde</option>
            <option value="tecnologia" <%= lancamento.categoria === "tecnologia" ? 'selected' : '' %>>Tecnologia</option>
            <option value="transporte" <%= lancamento.categoria === "transporte" ? 'selected' : '' %>>Transporte</option>
          </select>
        </div>
        <!-- Forma -->
        <div class="form-check">
          <input class="form-check-input" id="rdDespesa"  value="despesa" type="radio" name="tipoLancamento" <%=
          lancamento.tipoLancamento === "despesa" ? 'checked' : '' %> />
          <label class="form-check-label" for="rdDespesa"> Despesa </label>
        </div>
        <div class="form-check mb-3">
          <input class="form-check-input" id="rdPagamento" value="pagamento" type="radio" name="tipoLancamento" <%=
          lancamento.tipoLancamento === "pagamento" ? 'checked' : '' %>/>
          <label class="form-check-label" for="rdPagamento"> Pagamento </label>
        </div>
        <!-- Botão -->
        <button class="w-100 btn btn-lg btn-primary" type="submit">Adicionar</button>
      </form>
    </div>
  </div>
</div>
<%- include("includes/footer") %>
